@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap&subset=latin-ext');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #1C76B8;
}

body, button {
    font-size: 1.25rem;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    outline: 0;
}

div {
    margin: 10px;
}

.container {
    margin: auto;
    width: 700px;
}

.arena {
    height: 200px;
    display: flex;
    #computer-hand {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center; 
        position: relative;
        background: rgba(0,0,0,0.3);
        img {
            height: 90%;
        }
        &::before {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translate(-50%, -50%);
            content: 'Komputer';
        }
    }
    #player-hand {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: rgba(0,0,0,0.3);
        img {
            height: 90%;
            transform: scaleX(-1);
        }
        &::before {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translate(-50%, -50%);
            content: 'Człowiek (Ty)';
            white-space: nowrap;
        }
    }
    .pre-hand {
        opacity: 0.5;
        .rgt {
            transform: scaleX(-1);
        }
    }
}

#messages {
    text-align: center;
}

#result {
    background-color: #FFFF00;
    color: #000;
    text-align: center;
}

#buttons {
    text-align: right;
    button {
        background: #3BACFF;
        opacity: 0.8;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}